<html>

<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>MovieDreamers</title>
    <link href="{% static 'css/style.css'?20191205 %}" rel="stylesheet" type="text/css">
</head>
<body>
{% csrf_token %}
<header>
    <h1>MovieDreamers</h1>
    <a class="h_icon" href="#" id="film"><img alt="film_icon" src="{% static 'img/film.png' %}">
        <div class="hiden"></div>
    </a>
    <a class="h_icon" href="#" id="child"><img alt="child_icon" src="{% static 'img/child.png' %}">
        <div class="hiden"></div>
    </a>
    <a class="h_icon" href="#" id="calendar"><img alt="calendar_icon" src="{% static 'img/calendar.png' %}">
        <div class="hiden"></div>
    </a>
    <a class="h_icon" href="#" id="list"><img alt="list_icon" src="{% static 'img/list.png' %}">
        <div class="hiden"></div>
    </a>
    <a href=""> {% block login %}

    <a href="{%url 'movies:profile'%}"> {% block login %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
</a>

    <a href="{%url 'movies:profile'%}"> {% block login %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
</a>


  <form id="content" action="{%url 'movies:search'%}"  method="post">
        {% csrf_token %}
        <input class="input" id="search-input" name="input" type="text" method = 'POST' placeholder="LOOKING FOR MOVIES?">
        <button class="search" id="search-btn" type="submit" value="Search" name = "Search"></button>
    </form>
</header>
<div id="wwy">
    <div id="ImgBot">
    </div>

    {% block content %}

    some text...
{% endblock %}
</div>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>