<html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>MovieDreamers</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1>MovieDreamers</h1>
        <a href="#" id="search"><img src="../BetterThanKassir/assets/img/search.png" alt="search"></a>
        <a href="#" class="h_icon" id="film"><img src="../BetterThanKassir/assets/img/film.png" alt="film_icon"><div class="hiden">Movies</div></a>
        <a href="#" class="h_icon" id="child"><img src="../BetterThanKassir/assets/img/child.png" alt="child_icon"><div class="hiden">For children</div></a>
        <a href="#" class="h_icon" id="calendar"><img src="../BetterThanKassir/assets/img/calendar.png" alt="calendar_icon"><div class="hiden">Coming soon</div></a>
        <a href="#" class="h_icon" id="list"><img src="../BetterThanKassir/assets/img/list.png" alt="list_icon"><div class="hiden">Schedule</div></a>
    </header>
</body>

</html>
