 {% extends "index.html" %}


  {% block content %}
{% load staticfiles %}


<html lang="en">

<head>

  <title>Login
</title>
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
<!--      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">-->
    <link href="{% static 'css/userReg.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
  </head>

<body>

<form class = "box" action="login.html" method="post">
<h2>Login</h2>
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-default" type="submit">Login</button>
</form>
</body>

  {% endblock  %}