
{% block title %}{{movie.movie_title}}{% endblock %}

{% block content %}

    <img src='{{ movie.movie_picture_url }}'>

   <h2>{{movie.movie_title}}</h2>

    <p>{{ movie.movie_description | safe }}</p>


   <p>{{ movie.get_rating_display}}</p>


    <em>{{ movie.movie_published_date}}</em>
    <hr>
{% if latest_comment_list %}
    {% for a in latest_comment_list %}
        <p>
        <strong>{{ a.author_name }}</strong>
        <p>{{a.comment_text}}</p>
        </p>
{% endfor %}
    {% else %}
    Comments didn't find ! Be the first!)

    {% endif %}
    <hr>

    <form action="{% url 'movies:leave_comment' movie.id %}" method="POST">

    {% csrf_token %}

        <input type="text" required placeholder="Enter your name" name = "name"><br>

    <textarea name="text" required = "" placeholder="Your text" cols = "30" rows = "10"></textarea><br>

    <button type ="submit"> Leave comment </button>
    </form>



{% endblock %}