{% extends 'index.html' %}

{% block title %}Movies{% endblock %}


{#    <div class="header">#}
{#        <div class="container">#}
{#            <div class="nav">#}
{#                <a href="index.html"><img src="images/logo.svg" class="logo" /></a>#}
{#                <div class="today"><a href="index.html" title="Сегодня в кино">Сегодня в кино</a></div>#}
{##}
{#                <div class="soon"><a href="soon.html" title="Скоро на экранах">Скоро на экранах</a></div>#}
{##}
{#                <div class="child"><a href="child.html" title="Сегодня детям">Сегодня детям</a></div>#}
{##}
{#                <div class="timetable"><a href="movies_list.html#" class="arr_select" title="Расписание">Расписание</a></div>#}
{#                <div class="search"><a href="movies_list.html#" title="Поиск">Поиск</a></div>#}
{#                <div class="rating"><a href="rating/movies.html" title="Рейтинг">Рейтинг</a></div>#}
{##}
{##}
{#                <div class="film-archive selected"><a href="movies_list.html" title="Киноархив">Киноархив</a></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% block content %}

   {% if latest_movies_list %}
       {% for a in latest_movies_list %}
           <p><a href="{% url 'movies:detail' a.id %}"> {{a.movie_title}}</a></p>


       {% endfor %}

   {% else %}

       Movies didn't find

    {% endif %}


{% endblock %}