<html>

<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>MovieDreamers</title>

    <script language= "JavaScript" type = "text/javascript" src = "https://static.ticketon.kz/widget/consumer.js"></script>

    <link href="{% static 'css/style.css'%}?20191209" rel="stylesheet" type="text/css">





</head>
<body>
{% csrf_token %}
<header id="head">
    <h1><a href= "{% url 'movies:home' %}" >MovieDreamers</a></h1>
    <a class="h_icon" href="{% url 'movies:index' %}" id="film"><img alt="film_icon" src="{% static 'img/film.png' %}">
        <div class="hiden"></div>
    </a>
    <div class = "search">
      <form id="content" action="{%url 'movies:search'%}"  method="post">
        {% csrf_token %}
        <input class="input" id="search-input" name="input" type="text" method = 'POST' placeholder="LOOKING FOR MOVIES?">
        <button class="search" id="search-btn" type="submit" value="Search" name = "Search"></button>
    </form>
</div>
    </a>
    <a class="h_icon" href="#" id="calendar"><img alt="calendar_icon" src="{% static 'img/calendar.png' %}">
        <div class="hiden"></div>
    </a>
    <a class="h_icon" href="#" id="list"><img alt="list_icon" src="{% static 'img/list.png' %}">
        <div class="hiden"></div>
    </a>
     <form method="post" action="{%url 'movies:home'%}">
        {% csrf_token %}
    {%block content%}
        <select id = "city" name="city" >
        {%for city in cities%}

            <option type="text" value="{{city.name}}" >{{city.name}}</option>


        {%endfor%}
        </select>
        <input type="submit" value="SelectCity">






        <select name="cinema" >
        {%for cinema in cinemas%}

            <option type="text" value="{{cinema.cinema_name}}" >{{cinema.cinema_name}}</option>


        {%endfor%}
        </select>
        <input type="submit" value="SelectCinema">


{%endblock%}
</form>


        {% block login %}
    <a href="{%url 'movies:signup'%}">
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p id="notlog">register</p>
  <a href="{% url 'login' %}" id="log">login</a>
{% endif %}
{% endblock %}
</a>


</header>
<div id="wwy">
    <div id="ImgBot">
    </div>
</div>
<form action="/csearch/"  method="get">
        {% csrf_token %}
        {% for i in cinemas_list %}
        <div>i.cinema_name</div>
            {%endfor%}
    </form>



<script src="{% static 'js/script.js' %}"></script>
{%
<footer>
    <a href="#"><img src="{% static 'img/VK_white.png' %}" alt="picture"></a>
    <a href="#"><img src="{% static 'img/Telegram_white.png' %}" alt="picture"></a>
    <a href="#"><img src="{% static 'img/Youtube.png' %}" alt="picture"></a>
    <a href="#"><img src="{% static 'img/Instagram_white.png' %}" alt="picture"></a>
    <div id="foot">
        <h>We were trying to let you get fun!!!</h>


    </div>
     <div class="sessions">
     <form method="post" action="{%url 'movies:home'%}">
         {%for movie in movies %}
         <ol>
             <li value = "{{forloop.counter}}">
                 <a href="{% url 'movies:detail' movie.id %}">
                 <p>{{movie.movie_title}}</p>
                     </a>
             </li>
         </ol>

         {%endfor%}
         <div id="sessions">
         {%for session in sessions%}

         <ol>
             <li>
                 Дата:{{session.session_date}}
            Время:{{session.session_time}}
            Зал:{{session.session_hall}}

             </li>
         </ol>


         {%endfor%}
             </div>
         </form>

         </div>

  </footer>

</body>
</html>