* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}





@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

header {
    background: black;
    position: fixed;
    height: 30px;
    width: 100%;
    margin: 20px;
    top: 0px;
    display: flex;
}

h1 {
    font-family: "Geometria";
}

<<<<<<< HEAD
#wwy {
    background: url(../img/wwyC.jpg) no-repeat;
    position: relative;
    margin-top: 80px;
    background-size: cover;
    height: 700px;
}

<<<<<<< HEAD

#search img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

=======
>>>>>>> 4c18a4e2948400c0ce4396fedb4fcccf306ed0fc
=======
>>>>>>> b52f121ebd95f8e108df03c602b9a872fcacec61
.h_icon{

    height: 40px;
    width: 40px;
    margin-left: 150px;
}

.h_icon img {
    position: relative;
    height: 40px;
    width: 40px;
    background-size: contain;
}

#film {
    margin-left: 150px;
}

.hiden{
    display: none;
}

#content {
  position: absolute;
<<<<<<< HEAD
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

<<<<<<< HEAD
.btn_search {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: grey;
    display: flex;
   justify-content: center;
    overflow: hidden;
    align-items: center;
    transition: all 35ms ease-in-out;
    transform: rotate(0);

}
.btn_search svg {
    width: 20px;

}
.search_box {

    height: 40px;
    background-color: orangered;
    overflow: hidden;
    width: 40px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    transition: all 35ms ease-in-out;
}


.search_box input{
    height: 0;
    width: 0;
    border-radius: 15px;
    border: none;
    margin-left: 0;
     opacity: 0;

    outline: none;
}

.search_box:hover{
    width:200px;
transition: all 35ms ease-in-out;
    padding-bottom: 5px;
padding-left: 10px;
}

.search_box:hover input{
    width: 140px;
    margin-left: 15px;
    opacity: 1;
    transition: all 35ms ease-in-out;
    margin-top: 2px;
    height: 15px;
}
.btn_search:hover {
    padding-bottom: 50px;
}


.search_box:hover .btn_search{
        transform: rotate(360deg);
     transition: all .5s ease-in-out;
}




.footer{
  width: 100vw;
 display: block;
    padding: 70px 0;
   box-sizing: border-box;
    background-color: #18181a;

}
.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height :100%;

=======
#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
>>>>>>> 4c18a4e2948400c0ce4396fedb4fcccf306ed0fc
}
=======
  margin-left: 1480px;
  top: 20px;
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid black;
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: white;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid white;
  border-radius: 0;
  background: black;
  color: white;
  font-family: Geometria;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

#wwy {
    background: url(../img/IronMan.jpg) no-repeat;
    position: relative;
    margin-top: 90px;
    background-size: cover;
    height: 600px;
}

#imgBot{
    position: relative;
    top: 500px;
    height: 70px;
    width: 100%;
    background: blue;
	filter: blur(70px);
}

#ImgBot h{
    font-family: Geometria;

}
>>>>>>> b52f121ebd95f8e108df03c602b9a872fcacec61
