* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*
@font-face {
    font-family: "GeometriaBrands";
    src: url("Q:/Kuro/MySite/fonts/GeometriaMedium.otf") format("opentype");
    font-style: medium;
    font-weight: medium;
}
*/

@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

header {
    position: fixed;
    height: 30px;
    width: 100%;
    margin: 20px;
    top: 0px;
    display: flex;
}

h1 {
    font-family: "Geometria";
}

#wwy {
    background: url(../img/wwyC.jpg) no-repeat;
    position: relative;
    margin-top: 80px;
    background-size: cover;
    height: 700px;
}

#search img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.h_icon{
    height: 40px;
    width: 40px;
    margin-left: 50px;
}

.h_icon img {
    position: relative;
    height: 40px;
    width: 40px;
    background-size: contain; 
}

#film {
    margin-left: 150px;
}

#film:hover .hiden{
    position: absolute;
    display: block;
    top: 50px;
    left: 435px;
    width: 60px;
    font-family: "Geometria";
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-align: center;
}

.hiden{
    display: none;
}


